body {
	font-family: 'Josefin Slab', 'serif';
	background-image:url('Golden_Gate.jpg');
	background-size: 100%;
	color: #DCDDDE;
	margin: 40px 40px;
	font-size: 25px;
}

img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	margin: 10px 10px;
}

.projects {
	display: inline-block;
	margin: 70px 130px;
}

.project-title {
	margin: -170px 0 0 370px;
}

.project-text {
	margin: -20px 0 0 0;
}

.arrow {
	width: 30px;
	height: 30px;
	margin: -53px 0 0 100px;
}

.contact {
	position: fixed;
	bottom: 80px;
}

.links {
	position: fixed;
	bottom: 20px;
}

#footer {
	position: fixed;
	font-size: 18px;
	bottom: 20px;
	right: 20px;
}