body {
	font-family: 'Josefin Slab', 'serif';
	background-image:url('Golden_Gate.jpg');
	background-size: 100%;
	color: #DCDDDE;
	margin: 40px 40px;
	font-size: 25px;

}

img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	margin: 10px 10px;
}

h2 {
	margin: 5px;
}

h3 {
	margin: 10px 0px;
}

a {
	text-decoration: none;
}

p {
	margin: 5px;
}

#contact {
	position: fixed;
	bottom: 20px;
}

#footer {
	position: fixed;
	font-size: 18px;
	bottom: 20px;
	right: 20px;
}

.project-title {
	position: fixed;
	display: inline;
	right: 150px;
	width: 710px;
	top: 100px;
}

.arrow {
	width: 34px;
	height: 34px;
}